*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;

    display: grid;
    justify-content: center;
    align-items: center;

    background-color: #6C63FF;

    font-family: 'Ubuntu', sans-serif;
}


.container{
    width: 85%x;
    padding: 30px;
    display: grid;
    gap: 2rem;
    
    background-color: white;

    justify-content: center;
    align-items: center;

    border-radius: 20px;
    text-align: center;

}

.container h1{
    font-size: 1.2rem;
}

.container img{
    width: 150px;
    margin: 0 auto;
}

@media screen and (min-width: 630px){

    .container img{
        width: 300px;
        
    }

    .container h1{
        font-size: 1.5rem;
    }

}